<%- include("templates/header.ejs") %>
<%- include("templates/navbar.ejs") %>

      <div class="container">
        <h1 class="text-center my-2">Get random anime picture</h1>

        <div class="row w-100 mt-5" id="container">

        </div>
      </div>


<script src="js/main.js"></script>
  
<%- include("templates/footer.ejs") %>