<%- include("templates/header.ejs") %>
<%- include("templates/navbar.ejs") %>

    <h1>Landing page</h1>
    <p>ea aliquip nisi consequat enim quis sint ex cupidatat labore</p>
  
<%- include("templates/footer.ejs") %>
