<%- include("templates/header.ejs") %>
<%- include("templates/navbar.ejs") %>

    <div class="container">
<div class="jumbotron mt-5">
  <h1 class="display-4">Miex app</h1>
  <p class="lead">Get you want quickly.</p>
  <p>miex is website for generate random picture anime.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/home" role="button">Try</a>
</div>
    </div>
    
    <script src="js/script.js"></script>
  
<%- include("templates/footer.ejs") %>
