<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-between">
    <div>
      <a href="/" class="navbar-brand mx-2 fw-bold fs-3">Miex</a>
      <a href="/home" class="navbar-brand">Home</a>
    </div>
    <div>
      <a href="" class="btn btn-primary">Login</a>
      <a href="" class="btn btn-primary">Register</a>
    </div>
  </div>
</nav>