<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-between">
    <div>
      <a href="/" class="navbar-brand mx-2 fw-bold fs-3">Miex</a>
      <a href="/home" class="navbar-brand">Home</a>
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>